.form {
  width: 50%;
}
.historylist {
  width: 50%;
}
@media (max-width: 900px) {
  .form {
    width: 90%;
  }
  .historylist {
    width: 90%;
  }
}
.form-control:focus {
  box-shadow: none;
}
.btn:focus {
  box-shadow: none;
}
.btn-info:active:focus {
  box-shadow: none;
}
/* Start History */
.historylist .card {
  border: none;
}
.historylist .card-body.danger {
  border: none;
  border-bottom: 3px solid #dee2e6;
  border-right: 4px solid #dc3545;
}
.historylist .card-body.green {
  border: none;
  border-bottom: 3px solid #dee2e6;
  border-right: 4px solid #198754;
}
.close {
  position: relative;
  top: 50px;
  right: 22px;
  background-color: #dc3545;
  padding: 3px;
  color: #fff;
  cursor: pointer;
}
/* End History */

/* Start Info Component */
.info.card {
  width: 50%;
}
.info.card .danger {
  color: #dc3545;
}
.info.card .green {
  color: #198754;
}
/* Start Info Component */
